<span style='display:none;' id='surahid'>1</span>
                                    <div class='in_block' id="block115" style='border-radius:0px; margin-bottom:20px;'>
                                        <div class='row' style='padding:30px;'>
                                            <h2 id="lesson115" class="col-12 title_block" style="text-align: center;">Фотиҳа сураси</h2>
                                            <div class='text_islom'>
                                                <p style="text-align: center;">
                                                    <em>Маккада нозил бўлган, 7 оятдан иборат.</em>
                                                </p>
                                                <p>Бу суранинг бир неча номи бўлиб, улардан бири &laquo;Фотиҳа&raquo;, яъни &laquo;очувчи&raquo;деганидир. Чунки Қуръони Карим ушбу сура ила очилади. Фотиҳа сураси жуда ҳам фазилатли сура бўлиб, бу ҳақда бир қанча ривоятлар келтирилган.</p>
                                                <p>Имом Аҳмад ибн Ҳанбал ривоят қилган ҳадиси шарифда айтилади:</p>
                                                <p>&laquo;Убай ибн Каъб Набий алайҳиссаломнинг ҳузурларида Фотиҳа сурасини ўқидилар. Шунда Набий соллаллоҳу алайҳи васаллам:</p>
                                                <p>&laquo;Менинг жоним тасарруфида бўлган Зот билан қасамки, Тавротда ҳам, Инжилда ҳам, Забурда ҳам, Фурқонда (Қуръонда) ҳам бунга ўхшаш нозил қилинмаган&raquo;, &ndash;дедилар.</p>
                                                <p>Фотиҳа сураси оятларининг тафсирига киришишдан олдин Қуръони Каримга оид энг машҳур икки истилоҳ &ndash;оят ва сура сўзларининг луғавий ва истилоҳий маънолари билан танишиб олсак, мақсадга мувофиқ бўлади.</p>
                                                <p>&laquo;Оят&raquo;сўзининг бир неча луғавий маъноси бор:</p>
                                                <p>1. &laquo;Мўъжиза&raquo;.</p>
                                                <p>Аллоҳ таоло Бақара сурасида: &laquo;Бану Исроилдан уларга қанчадан-қанча очиқ-ойдин оят(мўъжиза)ларни берганимизни сўра&raquo;, &ndash;деган (211-оят).</p>
                                                <p>2. &laquo;Белги-аломат&raquo;.</p>
                                                <p>Аллоҳ таоло Бақара сурасида: &laquo;Албатта, унинг подшоҳлигининг ояти (белгиси) &ndash;сизларга ичида Роббингиздан сакина ва Оли Мусодан ҳамда Оли Ҳорундан қолдиқ бор сандиқ келишидир&raquo;, &ndash;деган (248-оят).</p>
                                                <p>3. &laquo;Ибрат&raquo;.</p>
                                                <p>&laquo;&hellip;Токи ўзингдан кейингиларга оят (ибрат) бўлгин&hellip;&raquo;(Юнус сураси, 92-оят).</p>
                                                <p>4. &laquo;Ажойиб иш&raquo;.</p>
                                                <p>Аллоҳ таоло Муъминун сурасида: &laquo;Ибн Марямни ва унинг онасини оят (ажойиб иш) қилдик ва икковларини оқар сувли қароргоҳ тепаликка жойладик&raquo;, &ndash;деган (50-оят).</p>
                                                <p>5. &laquo;Бурҳон, далил&raquo;.</p>
                                                <p>Аллоҳ таоло Рум сурасида: &laquo;Ва осмонлару ернинг яратилиши ҳамда тилларингиз ва рангларингизнинг турлича бўлиши Унинг оят(бурҳон)ларидандир&raquo;, &ndash;деган (22-оят).</p>
                                                <p>6. &laquo;Жамоат&raquo;.</p>
                                                <p>Арабларда &laquo;Қавм ояти &ndash;жамоаси билан чиқди&raquo;деган гап бор.</p>
                                                <p>7. Қуръон ояти.</p>
                                                <p>Уламолар истилоҳида эса оят Қуръон сурасига кирган, бошланиши ва тугаши белгили сўзлар тоифасидир.</p>
                                                <p>Шу билан бирга, Қуръони Каримнинг ҳар бир ояти юқоридаги луғавий маъноларни ўз ичига олган бўлади. Ҳа, Қуръони Каримнинг ҳар бир ояти мўъжиза, ибрат, ажойиб иш, белги-аломат, бурҳон, далил, ҳарф ва сўзлар жамоаси ҳамда Аллоҳ таолонинг қудрати далилидир.</p>
                                                <p>Қуръони Каримнинг ҳар бир ояти, унинг аввали ва охири ҳақидаги илмни Аллоҳ таолодан Жаброил алайҳиссалом ўрганган. У кишидан Набий алайҳиссалом, у зотдан эса мусулмонлар ўрганганлар.</p>
                                                <p>Қуръони Каримдаги энг қисқа оят &laquo;Йа син&raquo;бўлиб, икки ҳарфдан иборатдир.</p>
                                                <p>Энг узун оят эса Бақара сурасидаги &laquo;Қарз олди-бердиси&raquo;оятидир.</p>
                                                <p>Оятларни бир-биридан ажрата билиш, уларнинг бошланиш ва тугаш жойларини англаб етиш уларнинг маъноларини яхши тушуниб етишда ва бошқа бир қанча ишларда ёрдам беради.</p>
                                                <p>Қуръони Каримда &laquo;оят&raquo;сўзи кўплаб такрорланган. &laquo;Оят&raquo;сўзи баъзи бир жойларда юқорида зикр қилинган маъноларнинг ҳаммасини, иккинчи бир жойда икки-учтасини, учинчи жойда эса фақат биттасини ифода этиб келган. Ушбу нозик фарқ англаб етилгандагина маъно тўғри тушунилади.</p>
                                                <p>&laquo;Сура&raquo;сўзи луғатда &laquo;қўрғон&raquo;, &laquo;манзил&raquo;ва &laquo;шараф&raquo;деган маъноларни англатади.</p>
                                                <p>Уламоларимиз истилоҳида эса сура Қуръон оятларининг бошланиши ва тугаши белгиланган мустақил тоифасидир.</p>
                                                <p>Бошқача қилиб айтадиган бўлсак, Қуръон оятларининг қўрғон ила ўралгандек бир тоифасига сура дейилади.</p>
                                                <p>Қуръони Каримдаги энг қисқа сура Кавсар сураси бўлиб, уч оятдан, энг узун сура эса Бақара сураси бўлиб, 286 оятдан иборатдир.</p>
                                            </div>
                                        </div>
                                        <div class="col-12 oyat basmala_surah">ﭷ ﭸ ﭹ ﭺ ﭻ</div>
                                        <div class='text_islom' style="text-align: center;">
                                            <b>АЪУУЗУ БИЛЛААҲИ МИНАШ ШАЙТОНИР РОЖИЙМ</b>
                                        </div>
                                        <div class='row quran_oyat' id="1" onmousemove="showInfo(1)" onmouseout="hideInfo(1)">
                                            <div class='col-1' style='padding-left:0px; padding-top:10px; padding-bottom:10px;'>
                                                <div style='border-right:1px solid #f7f7f7; display:none;' class='block_so1'>
                                                    <div class="mediPlayer" style='position:absolute; height:45px; margin-top:20px;'>
                                                        <audio class="listen" preload="none" src="/mp3/quran/1/1.mp3"></audio>
                                                    </div>
                                                    <div class='copy_oyat' id='copy_oyat1' data-clipboard-text='بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ

                    Роҳман ва Роҳийм Аллоҳнинг номи ила (бошлайман). (Фотиҳа сураси, 1-оят)

                    islom.uz «Тафсири ҳилол» китобидан' onclick='copyOyat(1);'>
                                                        <span class="glyphicon glyphicon-paperclip"></span>
                                                        <span class='copyoyat1' data-toggle="tooltip" data-placement="bottom" title="Кўчириб олиб, керакли жойга (CTRL+V) олқали қўйинг">Кўчириш</span>
                                                        <br/>
                                                    </div>
                                                    <div class='foward_social'>
                                                        <img src='/img/facebook_o.svg' height='25' onclick='shareF(1);'/>
                                                        <img src='/img/telegram_o.svg' height='25' onclick='shareT(1);'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-11'>
                                                <div class="col-12 oyat " style="font-family:page1;">ﭑ ﭒ ﭓ ﭔ ﭕ</div>
                                                <div class='col-12 text_islom '>
                                                    <b>
                                                        1. Роҳман ва Роҳийм Аллоҳнинг номи ила <span style='font-weight:normal;'>(бошлайман)</span>
                                                        .
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row quran_oyat' id="2" onmousemove="showInfo(2)" onmouseout="hideInfo(2)">
                                            <div class='col-1' style='padding-left:0px; padding-top:10px; padding-bottom:10px;'>
                                                <div style='border-right:1px solid #f7f7f7; display:none;' class='block_so2'>
                                                    <div class="mediPlayer" style='position:absolute; height:45px; margin-top:20px;'>
                                                        <audio class="listen" preload="none" src="/mp3/quran/1/2.mp3"></audio>
                                                    </div>
                                                    <div class='copy_oyat' id='copy_oyat2' data-clipboard-text='الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ

                    Ҳамд оламларнинг Робби – Аллоҳгадир. (Фотиҳа сураси, 2-оят)

                    islom.uz «Тафсири ҳилол» китобидан' onclick='copyOyat(2);'>
                                                        <span class="glyphicon glyphicon-paperclip"></span>
                                                        <span class='copyoyat2' data-toggle="tooltip" data-placement="bottom" title="Кўчириб олиб, керакли жойга (CTRL+V) олқали қўйинг">Кўчириш</span>
                                                        <br/>
                                                    </div>
                                                    <div class='foward_social'>
                                                        <img src='/img/facebook_o.svg' height='25' onclick='shareF(2);'/>
                                                        <img src='/img/telegram_o.svg' height='25' onclick='shareT(2);'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-11'>
                                                <div class="col-12 oyat " style="font-family:page1;">ﭖ ﭗ ﭘ ﭙ ﭚ</div>
                                                <div class='col-12 text_islom '>
                                                    <b>2. Ҳамд оламларнинг Робби – Аллоҳгадир.</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row quran_oyat' id="3" onmousemove="showInfo(3)" onmouseout="hideInfo(3)">
                                            <div class='col-1' style='padding-left:0px; padding-top:10px; padding-bottom:10px;'>
                                                <div style='border-right:1px solid #f7f7f7; display:none;' class='block_so3'>
                                                    <div class="mediPlayer" style='position:absolute; height:45px; margin-top:20px;'>
                                                        <audio class="listen" preload="none" src="/mp3/quran/1/3.mp3"></audio>
                                                    </div>
                                                    <div class='copy_oyat' id='copy_oyat3' data-clipboard-text='الرَّحْمَنِ الرَّحِيمِ

                    У Роҳман ва Роҳиймдир. (Фотиҳа сураси, 3-оят)

                    islom.uz «Тафсири ҳилол» китобидан' onclick='copyOyat(3);'>
                                                        <span class="glyphicon glyphicon-paperclip"></span>
                                                        <span class='copyoyat3' data-toggle="tooltip" data-placement="bottom" title="Кўчириб олиб, керакли жойга (CTRL+V) олқали қўйинг">Кўчириш</span>
                                                        <br/>
                                                    </div>
                                                    <div class='foward_social'>
                                                        <img src='/img/facebook_o.svg' height='25' onclick='shareF(3);'/>
                                                        <img src='/img/telegram_o.svg' height='25' onclick='shareT(3);'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-11'>
                                                <div class="col-12 oyat " style="font-family:page1;">ﭛ ﭜ ﭝ</div>
                                                <div class='col-12 text_islom '>
                                                    <b>3. У Роҳман ва Роҳиймдир.</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row quran_oyat' id="4" onmousemove="showInfo(4)" onmouseout="hideInfo(4)">
                                            <div class='col-1' style='padding-left:0px; padding-top:10px; padding-bottom:10px;'>
                                                <div style='border-right:1px solid #f7f7f7; display:none;' class='block_so4'>
                                                    <div class="mediPlayer" style='position:absolute; height:45px; margin-top:20px;'>
                                                        <audio class="listen" preload="none" src="/mp3/quran/1/4.mp3"></audio>
                                                    </div>
                                                    <div class='copy_oyat' id='copy_oyat4' data-clipboard-text='مَالِكِ يَوْمِ الدِّينِ

                    Жазо-мукофот кунининг эгасидир. (Фотиҳа сураси, 4-оят)

                    islom.uz «Тафсири ҳилол» китобидан' onclick='copyOyat(4);'>
                                                        <span class="glyphicon glyphicon-paperclip"></span>
                                                        <span class='copyoyat4' data-toggle="tooltip" data-placement="bottom" title="Кўчириб олиб, керакли жойга (CTRL+V) олқали қўйинг">Кўчириш</span>
                                                        <br/>
                                                    </div>
                                                    <div class='foward_social'>
                                                        <img src='/img/facebook_o.svg' height='25' onclick='shareF(4);'/>
                                                        <img src='/img/telegram_o.svg' height='25' onclick='shareT(4);'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-11'>
                                                <div class="col-12 oyat " style="font-family:page1;">ﭞ ﭟ ﭠ ﭡ</div>
                                                <div class='col-12 text_islom '>
                                                    <b>4. Жазо-мукофот кунининг эгасидир.</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row quran_oyat' id="5" onmousemove="showInfo(5)" onmouseout="hideInfo(5)">
                                            <div class='col-1' style='padding-left:0px; padding-top:10px; padding-bottom:10px;'>
                                                <div style='border-right:1px solid #f7f7f7; display:none;' class='block_so5'>
                                                    <div class="mediPlayer" style='position:absolute; height:45px; margin-top:20px;'>
                                                        <audio class="listen" preload="none" src="/mp3/quran/1/5.mp3"></audio>
                                                    </div>
                                                    <div class='copy_oyat' id='copy_oyat5' data-clipboard-text='إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ

                    Фақат Сенгагина ибодат қиламиз ва фақат Сендангина ёрдам сўраймиз. (Фотиҳа сураси, 5-оят)

                    islom.uz «Тафсири ҳилол» китобидан' onclick='copyOyat(5);'>
                                                        <span class="glyphicon glyphicon-paperclip"></span>
                                                        <span class='copyoyat5' data-toggle="tooltip" data-placement="bottom" title="Кўчириб олиб, керакли жойга (CTRL+V) олқали қўйинг">Кўчириш</span>
                                                        <br/>
                                                    </div>
                                                    <div class='foward_social'>
                                                        <img src='/img/facebook_o.svg' height='25' onclick='shareF(5);'/>
                                                        <img src='/img/telegram_o.svg' height='25' onclick='shareT(5);'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-11'>
                                                <div class="col-12 oyat " style="font-family:page1;">ﭢ ﭣ ﭤ ﭥ ﭦ</div>
                                                <div class='col-12 text_islom '>
                                                    <b>5. Фақат Сенгагина ибодат қиламиз ва фақат Сендангина ёрдам сўраймиз.</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row quran_oyat' id="6" onmousemove="showInfo(6)" onmouseout="hideInfo(6)">
                                            <div class='col-1' style='padding-left:0px; padding-top:10px; padding-bottom:10px;'>
                                                <div style='border-right:1px solid #f7f7f7; display:none;' class='block_so6'>
                                                    <div class="mediPlayer" style='position:absolute; height:45px; margin-top:20px;'>
                                                        <audio class="listen" preload="none" src="/mp3/quran/1/6.mp3"></audio>
                                                    </div>
                                                    <div class='copy_oyat' id='copy_oyat6' data-clipboard-text='اهْدِنَا الصِّرَاطَ الْمُسْتَقِيمَ

                    Бизни тўғри йўлга ҳидоят қилгин. (Фотиҳа сураси, 6-оят)

                    islom.uz «Тафсири ҳилол» китобидан' onclick='copyOyat(6);'>
                                                        <span class="glyphicon glyphicon-paperclip"></span>
                                                        <span class='copyoyat6' data-toggle="tooltip" data-placement="bottom" title="Кўчириб олиб, керакли жойга (CTRL+V) олқали қўйинг">Кўчириш</span>
                                                        <br/>
                                                    </div>
                                                    <div class='foward_social'>
                                                        <img src='/img/facebook_o.svg' height='25' onclick='shareF(6);'/>
                                                        <img src='/img/telegram_o.svg' height='25' onclick='shareT(6);'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-11'>
                                                <div class="col-12 oyat " style="font-family:page1;">ﭧ ﭨ ﭩ ﭪ</div>
                                                <div class='col-12 text_islom '>
                                                    <b>6. Бизни тўғри йўлга ҳидоят қилгин.</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row quran_oyat' id="7" onmousemove="showInfo(7)" onmouseout="hideInfo(7)">
                                            <div class='col-1' style='padding-left:0px; padding-top:10px; padding-bottom:10px;'>
                                                <div style='border-right:1px solid #f7f7f7; display:none;' class='block_so7'>
                                                    <div class="mediPlayer" style='position:absolute; height:45px; margin-top:20px;'>
                                                        <audio class="listen" preload="none" src="/mp3/quran/1/7.mp3"></audio>
                                                    </div>
                                                    <div class='copy_oyat' id='copy_oyat7' data-clipboard-text='صِرَاطَ الَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ الْمَغْضُوبِ عَلَيْهِمْ وَلَا الضَّالِّينَ

                    Ўзинг неъмат берганларнинг йўлига: ғазабга қолганларникига ҳам эмас, адашганларникига ҳам эмас. (Фотиҳа сураси, 7-оят)

                    islom.uz «Тафсири ҳилол» китобидан' onclick='copyOyat(7);'>
                                                        <span class="glyphicon glyphicon-paperclip"></span>
                                                        <span class='copyoyat7' data-toggle="tooltip" data-placement="bottom" title="Кўчириб олиб, керакли жойга (CTRL+V) олқали қўйинг">Кўчириш</span>
                                                        <br/>
                                                    </div>
                                                    <div class='foward_social'>
                                                        <img src='/img/facebook_o.svg' height='25' onclick='shareF(7);'/>
                                                        <img src='/img/telegram_o.svg' height='25' onclick='shareT(7);'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-11'>
                                                <div class="col-12 oyat " style="font-family:page1;">ﭫ ﭬ ﭭ ﭮ ﭯ ﭰ ﭱ ﭲ ﭳ ﭴ</div>
                                                <div class='col-12 text_islom '>
                                                    <b>7. Ўзинг неъмат берганларнинг йўлига: ғазабга қолганларникига ҳам эмас, адашганларникига ҳам эмас.</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>