{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="utf-8">        
    <title>Islom.uz - Маърифат маскани</title> 
    <link href="https://islom.uz/css/app.css" rel="stylesheet">      
    <link media="all" type="text/css" rel="stylesheet" href="https://islom.uz/css/jquery-ui.min.css">       
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link media="all" type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">        
    <link rel="stylesheet" href="https://islom.uz/css/vanillaCalendar.css">
    <link rel="stylesheet" href="https://islom.uz/css/progres-bar.css">
    <link rel="stylesheet" href="https://islom.uz/css/bootstrap.min.css">
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://islom.uz/css/green-audio-player.min.css">



    <link rel="stylesheet" href="https://islom.uz/css/style.css">

    <link rel="stylesheet" href="https://islom.uz/css/jquery.social-buttons.css">
    <link rel="stylesheet" href="https://islom.uz/css/lightslider.css">  
    <link rel="stylesheet" href="https://islom.uz/css/ap-scroll-top.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="https://islom.uz/css/bootstrap-select.min.css">
</head>
<body >
    <div class='container media_block' style='min-height:500px; '>    
        <div class='row prayer_body'> 

            <div class='row' >
                <div class='col-lg-4'>
                    <h2>Бомдод намози</h2>  Субҳи содиқдан (чин тонг отгандан) кун чиққунчадир. 
                    <p>
                        Бомдод намозини тонг ёришганда ўқиш мустаҳаб, аълороқдир. Соат бўйича ҳисобланса, бомдодни кун чиқишидан 40 дақиқача илгари ўқиш мустаҳаб вақтига мувофиқ бўлади. 
                    </p>
                </div>
                <div class='col-lg-4'>
                    <h2>Пешин намози</h2> Қуёш заволга (оғишга) кетганидан сўнг то нарсаларнинг сояси қуёш тиккага келган пайтдаги со-ясидан ташқари ўз узунлигига нисбатан икки баравар ортгунига қадар. 
                    <p>Пешин намозини ёз фаслида бироз кечиктириб, қиш фаслида эса вақти кириши билан ўқиш мустаҳабдир. </p>
                </div>
                <div class='col-lg-4'>
                    <h2>Аср намози</h2> Ҳар бир нарсанинг сояси қуёш тиккага келган пайтдаги соясидан ташқари ўзига нисбатан икки баравар ортганидан бошлаб қуёш ботгунчадир. 
                    <p>Аср намозини қуёш тиғини ўзгартирмай, нурсиз ҳолатга кири-шидан олдинроқ ўқиш мустаҳабдир. </p>
                </div>
            </div>
            
            <div class='row'  style='margin-bottom:40px; padding-bottom:40px; border-bottom:1px solid #eee;'>
                <div class='col-lg-4'>
                    <h2>Шом намози</h2> Кун ботган пайтдан бошлаб кунботар томонда шафақ (қизғиш нурлар) ғойиб бўлгунчадир.
                    <p>Шом намозини доимо қуёш ботиши билан ўқиш мустаҳабдир.</p>
                </div>
                <div class='col-lg-4'>
                    <h2>Хуфтон намози</h2> Шафақ батамом йўқолгандан кейин киради. 
                    <p>Хуфтон намозини кечанинг учдан бирининг охирида ўқиш афзал ва ниҳоятда аъло бўлади. </p>
                </div>
                <div class='col-lg-4'>
                    <h2>Витр намози</h2>  Хуфтон ўқилгандан кейингина киради. Хуфтон ва витр намозларини субҳи содиққача ўқиса бўлади. 
                    <p>Витр намозини тун охирида уйғонишга қодир бўлган кишилар субҳ олдидан ўқисалар, мустаҳаб амал қилган бўлишади. </p>
                </div>
                
            </div>

            
        </div>
    </div>            
</div>        
</div>                 
</div>
</div>                 


</div>
</body>
</html>
