{% extends 'base.html' %}
{% block title %}Namoz darslari{% endblock title %}
{% load hitcount_tags %}

{% block content %}
    <br>
    <div style="margin-bottom: 15px;">
        <img src="rasmlar/lessons/namoz_darslari.jpg/" alt="namoz_darslari">
    </div>
    {% for data in object_list %}
        <div class="list-group">
            <a href="{% url 'namoz_detail' data.slug %}" class="list-group-item list-group-item-action">{{ data.title }}</a>
        </div>
        <br>
    {% endfor %}
    <div class="d-grid gap-2" id="buttons">
      <button class="btn btn-primary" type="button"><a href="{% url 'home' %}" style="text-decoration: none;">Ortga</button></a>
    </div>

{% endblock content %}